



<div class="lightbox-gallery">
    
  <div class="container">
    <div class="intro">
      <h2 class="text-center">Lottie Animations</h2>
      <p class="text-center">
      Hover the icons !
      </p>
    </div>
    <div class="row photos">
      <div class="col-sm-6 col-md-4 col-lg-3 item">
        <ng-lottie
        [options]="options"
        (animationCreated)="onAnimate($event)"
        (mouseover)="onMouseOver()"
        (mouseleave)="onMouseLeave()"
      ></ng-lottie>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 item">
        <a href="https://i.imgur.com/gX11Vt5.jpg" data-lightbox="photos"
          ><img class="img-fluid" src="https://i.imgur.com/gX11Vt5.jpg"
        /></a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 item">
        <a href="https://i.imgur.com/pZcUS2Y.jpg" data-lightbox="photos"
          ><img class="img-fluid" src="https://i.imgur.com/pZcUS2Y.jpg"
        /></a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 item">
        <a href="https://i.imgur.com/06Ajq7f.jpg" data-lightbox="photos"
          ><img class="img-fluid" src="https://i.imgur.com/06Ajq7f.jpg"
        /></a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 item">
        <a href="https://i.imgur.com/zmzERpe.jpg" data-lightbox="photos"
          ><img class="img-fluid" src="https://i.imgur.com/zmzERpe.jpg"
        /></a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 item">
        <a href="https://i.imgur.com/gX11Vt5.jpg" data-lightbox="photos"
          ><img class="img-fluid" src="https://i.imgur.com/gX11Vt5.jpg"
        /></a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 item">
        <a href="https://i.imgur.com/pZcUS2Y.jpg" data-lightbox="photos"
          ><img class="img-fluid" src="https://i.imgur.com/pZcUS2Y.jpg"
        /></a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 item">
        <a href="https://i.imgur.com/06Ajq7f.jpg" data-lightbox="photos"
          ><img class="img-fluid" src="https://i.imgur.com/06Ajq7f.jpg"
        /></a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 item">
        <a href="https://i.imgur.com/zmzERpe.jpg" data-lightbox="photos"
          ><img class="img-fluid" src="https://i.imgur.com/zmzERpe.jpg"
        /></a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 item">
        <a href="https://i.imgur.com/gX11Vt5.jpg" data-lightbox="photos"
          ><img class="img-fluid" src="https://i.imgur.com/gX11Vt5.jpg"
        /></a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 item">
        <a href="https://i.imgur.com/pZcUS2Y.jpg" data-lightbox="photos"
          ><img class="img-fluid" src="https://i.imgur.com/pZcUS2Y.jpg"
        /></a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 item">
        <a href="https://i.imgur.com/06Ajq7f.jpg" data-lightbox="photos"
          ><img class="img-fluid" src="https://i.imgur.com/06Ajq7f.jpg"
        /></a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 item">
        <a href="https://i.imgur.com/zmzERpe.jpg" data-lightbox="photos"
          ><img class="img-fluid" src="https://i.imgur.com/zmzERpe.jpg"
        /></a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 item">
        <a href="https://i.imgur.com/gX11Vt5.jpg" data-lightbox="photos"
          ><img class="img-fluid" src="https://i.imgur.com/gX11Vt5.jpg"
        /></a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 item">
        <a href="https://i.imgur.com/pZcUS2Y.jpg" data-lightbox="photos"
          ><img class="img-fluid" src="https://i.imgur.com/pZcUS2Y.jpg"
        /></a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 item">
        <a href="https://i.imgur.com/06Ajq7f.jpg" data-lightbox="photos"
          ><img class="img-fluid" src="https://i.imgur.com/06Ajq7f.jpg"
        /></a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 item">
        <a href="https://i.imgur.com/zmzERpe.jpg" data-lightbox="photos"
          ><img class="img-fluid" src="https://i.imgur.com/zmzERpe.jpg"
        /></a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 item">
        <a href="https://i.imgur.com/gX11Vt5.jpg" data-lightbox="photos"
          ><img class="img-fluid" src="https://i.imgur.com/gX11Vt5.jpg"
        /></a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 item">
        <a href="https://i.imgur.com/pZcUS2Y.jpg" data-lightbox="photos"
          ><img class="img-fluid" src="https://i.imgur.com/pZcUS2Y.jpg"
        /></a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 item">
        <a href="https://i.imgur.com/06Ajq7f.jpg" data-lightbox="photos"
          ><img class="img-fluid" src="https://i.imgur.com/06Ajq7f.jpg"
        /></a>
      </div>
    </div>
  </div>
</div>
