<div class="lottie-animation mt-10">  
    This is where the animation will go.
  </div>
  
  <div class="container-sm" style="text-align: center">  
    <div class="splash-text">
      <h1>
        Step 1
      </h1>

      <div class="lottie-animation mt-10" style="height: 100px; width: 100px;">
        <ng-lottie
          [options]="options" 
          (animationCreated)="onAnimate($event)">
        </ng-lottie>
      </div>
  
      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Impedit eligendi obcaecati quisquam molestias animi dolores 
      vitae veniam ut provident repudiandae doloremque quae quo 
      vel, magnam labore eveniet natus fugiat. Aspernatur.  
    </div>
  
    <div class="button-div mt-3 mb-10">    
      <a class="btn btn-success light" style="margin: 1rem;">      
        Previous    
      </a>
  
      <a class="btn btn-primary" style="margin: 1rem;">      
        Next    
      </a>  
    </div>
  </div>
  